Upload/commonTypes/catalogsTypes/4.2/catalogsTypes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2013 Designer Edition 11.1.0.4725 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://rosleshoz.gov.ru/xmlns/catalogsTypes/4.2"
           version="4.2"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="specification">
        <xs:annotation>
            <xs:documentation>Описание основных полей справочника</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/catalogsTypes/4.2"
                        name="owner"
                        type="q1:specification"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Владелец</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element xmlns:q2="http://rosleshoz.gov.ru/xmlns/catalogsTypes/4.2"
                        name="parent"
                        type="q2:specification"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Родительский элемент</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/catalogsTypes/4.2"
                        name="fgislk"
                        type="q1:fgislk"
                        minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Синхронизация элемента с НСИ ФГИС ЛК</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id"
                      type="xs:string"
                      use="optional">
            <xs:annotation>
                <xs:documentation>Идентификатор</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name"
                      type="xs:string"
                      use="required">
            <xs:annotation>
                <xs:documentation>Наименование</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type"
                      type="xs:string"
                      use="optional">
            <xs:annotation>
                <xs:documentation>Тип</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="deleted"
                      type="xs:boolean"
                      default="false">
            <xs:annotation>
                <xs:documentation>Удален</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="fgislk">
        <xs:annotation>
            <xs:documentation>Ссылки на НСИ ФГИС ЛК</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element xmlns:q1="http://rosleshoz.gov.ru/xmlns/catalogsTypes/4.2"
                        name="row"
                        type="q1:fgislkRow"
                        minOccurs="0"
                        maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="fgislkRow">
        <xs:annotation>
            <xs:documentation>Ссылки на НСИ ФГИС ЛК</xs:documentation>
        </xs:annotation>
        <xs:attribute name="version"
                      type="xs:string">
            <xs:annotation>
                <xs:documentation>Версия</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="id"
                      type="xs:string">
            <xs:annotation>
                <xs:documentation>Код</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name"
                      type="xs:string">
            <xs:annotation>
                <xs:documentation>Наименование</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
